#Rupture
{
	background-color : #ffb7b7;		
	color : black;
	text-decoration : line-through;
}

#Faible
{	
	background-color : #effe50;			JAUNE VIF MAIS PAS PETANT
	color : black;
}

#Haut
{	
	background-color : #4dfe3c;			VERT VIF
	color : black;	
}